<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div>
    <ion-tabs >
      <ion-tab-bar id="menu-bas" slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="home-sharp"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="speakers">
          <ion-icon name="sync-sharp"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="map">
          <ion-icon name="log-in-sharp"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="about">
          <ion-icon name="calculator-sharp"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-app>
