<ion-content>

  <div class="haut" shape="round">


    <div class="logo">
      <img src="../../assets/logo.png" alt="">
    </div>


    <div class="t-login">
      <span>Login</span>
    </div>

  </div>


  <div class="padding">


    <ion-item>
      <ion-label position="stacked"> Téléphone </ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"> Password </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <br>

    <ion-item lines="none">
      <ion-button slot="start" fill="clear"> Mot de passe publié ? </ion-button>
    </ion-item>

    <br>
    <ion-button color="secondary" expand="block" shape="round">
      Se connecter
    </ion-button>

  </div>

</ion-content>
