<ion-content>

  <div class="haut" shape="round">


    <div class="logo">
      <img src="../../assets/logo.png" alt="">
    </div>


    <div class="t-login">
      <span>Login</span>
    </div>

  </div>


  <div class="padding">

    <form [formGroup]="form" (ngSubmit)="loginProcess()">

      <ion-item>
        <ion-label position="stacked"> Username </ion-label>
        <ion-input type="text" name="username" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Password </ion-label>
        <ion-input type="password" name="password" formControlName="password"></ion-input>
      </ion-item>

      <br>

      <ion-item lines="none">
        <ion-button slot="start" fill="clear"> Mot de passe publié ? </ion-button>
      </ion-item>

      <br>
      <ion-button type="submit" color="secondary" expand="block" shape="round">
        Se connecter
      </ion-button>
    </form>

  </div>

 <div class="tabs tabs-item-hide">

 </div>

</ion-content>