<ion-content>

  <div class="entete">
    <div class="logo">
      <img src="../../assets/logo.png" alt="">
    </div>

    <div class="t-login">
      <span>
        <ion-icon color="secondary" slot="start" name="return-up-forward-outline"></ion-icon>
        <ion-text color="secondary">Dépôt</ion-text>
      </span>
    </div>
  </div>
  <div class="contenu">

    <ion-segment name="segment" [(ngModel)]="segment" color="tertiary" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="emetteur">
        Emetteur
      </ion-segment-button>
      <ion-segment-button value="beneficiaire">
        Bénéficiaire
      </ion-segment-button>

    </ion-segment>

    <form action="" [formGroup]="form" (ngSubmit)="loginProcess()">
      <div>
        <div *ngIf="segment === 'emetteur'">

          <div formGroupName="client">
            <ion-item>
              <ion-label position="stacked">
                N CNI
              </ion-label>
              <ion-input type="number" pattern="[0-9]{11}" formControlName="cniClient"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">
                Nom
              </ion-label>
              <ion-input type="text" formControlName="nomClient"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Téléphone
              </ion-label>
              <ion-input type="number" pattern="[0-9]{9}" formControlName="telClient"></ion-input>
            </ion-item>

          </div>
          <ion-item>
            <ion-label position="stacked">
              Montant
            </ion-label>
            <ion-input type="number" formControlName="montant"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              Frais
            </ion-label>
            <ion-input type="text" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              Total
            </ion-label>
            <ion-input type="text" disabled ></ion-input>
          </ion-item>
        </div>


        <!-- Beneficiaire -->
        <div *ngIf="segment === 'beneficiaire'">

          <div formGroupName="client">
            <ion-item>
              <ion-label position="stacked">
                Nom
              </ion-label>
              <ion-input type="text" formControlName="nomBeneficiaire"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Téléphone
              </ion-label>
              <ion-input type="number" pattern="[0-9]{9}" formControlName="telBeneficiaire"></ion-input>
            </ion-item>
          </div>


        </div>


      </div>

      <br>
      <ion-button type="submit" [disabled]="!form.valid" expand="block" slot="bottom" color="danger" shape="round">
        Suivant
      </ion-button>

    </form>
  </div>
</ion-content>
